body {
    font-family: 'Georgia', sans-serif;
    margin: 3;
    padding: 5;
}

.container {
    width: 99%;
    margin: 10px auto;
}

.chapter {
    margin-bottom: 30px;
    text-align: center;
}

.chapter img {
    max-width: 100%;
    height: auto;
    border: 0px solid #ddd;
    border-radius: 0px;
    padding: 4px;
}

.chapter p {
    margin-top: 10px;
}
