body {
    font-family: 'Georgia', sans-serif;
    margin: 3;
    padding: 5;
}

.container {
    width: 95%;
    margin: 15px auto;
}

.chapter {
    margin-bottom: 30px;
    text-align: center;
}

.chapter img {
    max-width: 100%;
    height: auto;
    border: 0.3px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.chapter p {
    margin-top: 10px;
}
